*{
   margin:0; 
   padding: 0;
   box-sizing: border-box;
}
:root{/*высчет для паралакса и аналитики масштаба*/
    --index: calc(1vw +  1vh);
		--text: #e7e7e0;
		--transition: transform .75s cubic-bezier(.075, .5, 0, 1);;
}
@font-face {/*шрифт*/
   font-family: raleway_f;
   src: url(../fonts/raleway-regular.woff2);
}
@font-face {/*шрифт*/
   font-family: raleway_f;
   src: url(../fonts/raleway-black.woff2);
   font-weight: 900;
}
body{
   background-color: #010101;
   font-family: raleway_f, sans-serif;
   line-height: 1.55;
}
.main-header{
   position: relative;
}
.main-header::after{ /*настройки картинки перехода*/
	content: '';
	position: absolute;
	z-index: 100;
	width: 100%;
	height: calc(var(--index)*5);
	background-image: url(../img/2ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index)*-4.5);
}
.layers{/*общие настройки первой картинки? */
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   overflow: hidden;
   position: relative;
}
.layer{/*общие настройки первого слайда? */
   height: 100%;
   width: 100%;
   position: absolute;
   background-size: cover;
   background-position: center;
   will-change: transform;
   z-index: 2;
	 transition: var(--transition);
}
.layers__base{/*настройка основоной картинки на первом слайде*/
   transform: translate3d(0, calc(var(--scrollTop)/1.6), 0);
   z-index: 0;
}
.layers__middle {
	transform: translate3d(0, calc(var(--scrollTop)/2.5), 0);
	z-index: 11;
}

.layers__front{/*настройка ближней нижней картинки на первом слайде*/
   transform: translate3d(0, calc(var(--scrollTop)/5.7), 0);
}
.layer__header{/*настройка шрифта и текста на первом слайде обе строчки*/
   z-index: 2;
   transform: translate3d(0, calc(var(--scrollTop)/2), 0);
   will-change: transform;
   text-transform: uppercase;
   font-weight: 900;
	 color: var(--text);
	 text-shadow: 0 0 15px #a07d30;
	 transition: var(--transition);
}
.layers__title{/*настройка текста на первом слайде 2 строчка*/
	font-size: calc(var(--index)*2.5);
	letter-spacing: calc(var(--index)/2.25);
}
.layers_caption{/*настройка текста на первом слайде 1 строчка*/
	font-size: calc(var(--index)/1.175);
	letter-spacing: calc(var(--index)/3.5);
	margin-top:calc(var(--index)*-.75); 
}
.main-article {
	--main-article-transform: translate3d(0, calc(var(--scrollTop)/-7.5), 0);
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-color: transparent;
	color: var(--text);
	display: flex;
	justify-content: right; /* Это центрирует все дочерние элементы по горизонтали */
	align-items: center;
	position: relative;
	text-align: right; /* Это также может влиять на выравнивание текста */
	top: -1px;
	z-index: 3;
}

.main-article__header {
	text-transform: uppercase;
	font-size: calc(var(--index) * 2.5);
	letter-spacing: calc(var(--index) / 7.5);
	transform: var(--main-article-transform);
	will-change: transform;
	transition: var(--transition);
	margin-left: auto; /* Это сдвигает элемент вправо, делая текст выровненным по правому краю */
	margin-right: 15%; /* Отступ от правой границы в 10% ширины контейнера */
	margin-top: calc(var(--index) / 0.08);
}

.main-article__paragraph {
	max-width: calc(var(--index) * 30);
	font-size: calc(var(--index) * 1.1);
	margin-top: calc(var(--index) / 1.25);
	transform: var(--main-article-transform);
	will-change: transform;
	transition: var(--transition);
	margin-left: auto; /* Это сдвигает элемент вправо, делая текст выровненным по правому краю */
	margin-right: 15%; /* Отступ от правой границы в 10% ширины контейнера */
}


.content{
	will-change: transform ;
}
.copy {
	position: absolute;
	bottom: calc(var(--index)*2.5);
	opacity: 0.45;
	font-size: calc(var(--index)*0.75);
	letter-spacing: calc(var(--index)/37.5);
	margin-left: auto; /* Это сдвигает элемент вправо, делая текст выровненным по правому краю */
	margin-right: 45%;

}
